* {
    box-sizing: border-box;
}

a {
    font-family: 'Muli', sans-serif;
    text-decoration: none;
}

h2 {
    font-family: 'Muli', sans-serif;
}

p {
    font-family: 'Muli', sans-serif;
}

.flexbox {
    display: flex;
}

.flexcontent {
    flex-grow: 1;
    width: 200px;
    height: 500px;
    margin: 40px;
    transition: all ease-in-out .2s;
    box-shadow: 2px 0px 15px black;
}

.flexcontent:hover {
    transform: translate(0, -10px);
}

.flexcontent > .header-img {
    width: 100%;
    height: 200px;
    background-image: url(../images/am-screenshot.png);
    background-size: cover;
    background-position: center;
    box-shadow: inset black 0 -20px 70px;
}
@media screen and (max-height: 500px) {
    #hero {
        height: 100vh !important;
    }
}

@media screen and (max-width: 400px) {
    nav {
        height: 100px !important;
    }
}

@media screen and (max-width: 850px) {
    #herovideo {
        display: none;
    }
    #hero {
        background-image: url("../images/temp_pattern.png");
    }
}

@keyframes onload_textdiv {
    0% {
        opacity: 0;
        bottom: 0;
    }
    100% {
        opacity: 1;
        bottom: 45px;
    }
}

@keyframes onload_logo {
    0% {
        opacity: 0;
        top: 0;
    }
    100% {
        opacity: 1;
        bottom: 5px;
    }
}

@keyframes div_load {
    0% {
        opacity: 0;
        width: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        width: 700px;
    }
}

#hero {
    height: 50vh;
    display: block;
    padding-top: 20vh;
    background-image: none;
    box-shadow: inset 0 -69px 83px -59px rgba(0,0,0,0.39);
    background-color: rgba(0,0,0,0.3)
}

#hero > video {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#title {
    margin: auto;
    width: 700px;
    height: 80px;
    text-align: center;
    color: white;
}

#borderdiv {
    position: relative;
    bottom: 40px;
    border-bottom: 4px solid cornflowerblue;
    animation: div_load 1s ease-in-out;
    margin: auto;
    z-index: 0;
}

#title img {
    position: relative;
    height: 100px;
    top: 5px;
    animation: onload_logo 1s ease-in-out;
}

#title h1 {
    position: relative;
    bottom: 45px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-weight: bolder;
    font-size: 70px;
    text-shadow: 0 3px 3px black;
    animation: onload_textdiv 1s ease-in-out;
    z-index: 1;
}

nav {
    height: 50px;
    background-color: cornflowerblue;
    border-bottom: solid 5px rgb(0, 30, 120);
}

nav ul {
    list-style-type: none;
    text-align: center;
    height: 50px;
    font-size: 0;
}

nav li {
    width: 200px;
    display: inline-block;
    height: 50px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    border-bottom: 5px rgb(0, 30, 120) solid;
}

nav li:hover {
    border-bottom: 5px solid white;
}
nav a {
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.1s ease-in-out;
    border: red;
    width: 200px;
    height: 50px;
}

.nav1 {
    background-color: rgb(0, 30, 120);
    color: white;
}

.nav2 {
    background-color: royalblue;
}

.nav1 > a, .nav2 > a {
    height: 100%;
    width: 100%;
    display: block;
    padding-top: 15px;
}

#content {
    background-color: white;
    height: 100vh;
}

.header-img h2 {
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Muli', sans-serif;
    padding-top: 175px;
    font-size: 20px;
    font-weight: 900;
}

.flexcontent p {
    padding: 10px;
}